<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Ajusta el Data Source a tu instancia -->
    <add name="BD_Consumos"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BD_Consumos;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
